<link rel="stylesheet" href="./css/home.css">


    <div class="info-card">
      <h2>درباره ما</h2>
      <p>این سایت یک پلتفرم برای اشتراک‌گذاری پروژه‌های برنامه‌نویسی، رزومه‌ها، و نمونه‌کارهای حرفه‌ای است.</p>
      <p>با عضویت در پورتفولیو هاب، می‌توانید پروژه‌های خود را به نمایش بگذارید، با دیگر متخصصان ارتباط برقرار کنید و فرصت‌های شغلی جدید را کشف کنید.</p>
    </div>